{{!-- The tag below means - insert everything in this file into the {body} of the default.hbs template --}}
{{!< default}}

{{!-- The main content area - Masonry grid --}}
<main id="content" class="container" role="main">
	Product design projects
    {{#get 'posts' include="tags" filter="tag:'product'"}}
   	 
	<div class="grid {{^is "paged"}}first{{/is}}">
	    {{> "loop"}}
	    <div class="grid-sizer"></div>
	</div>
	
	{{/get}}
  
</main>