{{!-- This the intro component for the homepage --}}
<div id="intro">
    <div>
        <h2>Welcome 👋</h1>
            <p> I have hybrid experience between UI, UX and product design. <br class="hide" />
                Animator & photographer in spare time, keen and passionate problem solver at work. </p>
            <div class="scroll-container">
                <div class="scroll-icon"></div>
            </div>

    </div>
</div>